<p id="notice"><%= notice %></p>

<div style="text-align: center; margin: 0 auto">

<h1>Drugs</h1>

<p>
<% unless Rails.env.production? %>
  <%= link_to 'New Drug', new_drug_path, autofocus: true %>
<% end %>
</p>

<%= will_paginate @drugs %>
<BR>

<table style="margin: 0 auto">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= link_to 'Show', drug %></td>
        <% unless Rails.env.production? %>
          <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
          <td><%= link_to 'Destroy', drug,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
