<p id="notice"><%= notice %></p>

<h1>Drugs</h1>

<p>
<%= link_to 'New Drug', new_drug_path, autofocus: true %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= if drug.manufacturer then drug.manufacturer.name end %></td>
        <td><%= if drug.classification then drug.classification.name end %></td>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

