<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @drug.id %>
</p>
<BR/>
<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>
<p>
  <strong>Manufacturer:</strong>
  <%= if @drug.manufacturer then @drug.manufacturer.name end %>
</p>
<p>
  <strong>Classification:</strong>
  <%= if @drug.classification then @drug.classification.name end %>
</p>
<BR/>
<P>
<strong>Side effects:</strong>
  <P>
    <% SideEffect.where(drug_id: @drug.id).find_each do |side_effect| %>
      <%= side_effect.symptom.name %><BR/>
    <% end %>
  </P>
</P>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path, autofocus: true %>

<script>
const autoFocusedElements = document.querySelectorAll('a[autofocus]');
if (autoFocusedElements.length) {
  autoFocusedElements[0].focus();
}
</script>
