<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @drug.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>
<BR/>
<P>
<strong>Side effects:</strong>
  <P>
    <% SideEffect.where(drug_id: @drug.id).find_each do |side_effect| %>
      <%= side_effect.symptom.name %><BR/>
    <% end %>
  </P>
</P>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
