<script>
function nextOnEnter(event) {
  return event.charCode !== 13 ||
    document.getElementById("side_effect_symptom_id").focus();
}
function submitOnEnter(event) {
  return event.charCode !== 13 ||
    document.getElementsByTagName("form")[0].submit();
}
</script>

<%= form_with(model: side_effect, local: true) do |form| %>
  <% if side_effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(side_effect.errors.count, "error") %> prohibited this side_effect from being saved:</h2>

      <ul>
      <% side_effect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :drug_id %>
    <%= select(:side_effect, :drug_id, 
      options_from_collection_for_select(Drug.order(:name).all,"id","name",@side_effect.drug_id),
      {}, { :onkeypress => "nextOnEnter(event)" , autofocus: true } ) %>
  </div>

  <div class="field">
    <%= form.label :symptom_id %>
    <%= select(:side_effect, :symptom_id,
      options_from_collection_for_select(Symptom.order(:name).all, "id", "name",@side_effect.symptom_id),
      {}, { :onkeypress => "submitOnEnter(event)" } ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
