<p id="notice"><%= notice %></p>

<div style="text-align: center; margin: 0 auto">

<h1>Side Effects</h1>

<p>
<%= link_to 'New Side Effect', new_side_effect_path, autofocus: true unless Rails.env.production? %>
</p>

<%= will_paginate @side_effects %>
<BR>

<table style="margin: 0 auto">
  <thead>
    <tr>
      <th>Drug</th>
      <th>Symptom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @side_effects.each do |side_effect| %>
      <tr>
        <td><%= side_effect.drug.name %></td>
        <td><%= side_effect.symptom.name %></td>
        <td><%= link_to 'Show', side_effect %></td>
        <td><%= link_to 'Edit', edit_side_effect_path(side_effect) unless Rails.env.production? %></td>
        <td><%= link_to 'Destroy', side_effect, method: :delete, data: { confirm: 'Are you sure?' } unless Rails.env.production? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
