<p id="notice"><%= notice %></p>

<h1>Side Effects</h1>

<table>
  <thead>
    <tr>
      <th>Drug</th>
      <th>Symptom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @side_effects.each do |side_effect| %>
      <tr>
        <td><%= side_effect.drug %></td>
        <td><%= side_effect.symptom %></td>
        <td><%= link_to 'Show', side_effect %></td>
        <td><%= link_to 'Edit', edit_side_effect_path(side_effect) %></td>
        <td><%= link_to 'Destroy', side_effect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Side Effect', new_side_effect_path %>
