<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @side_effect.drug.name %>
  (<%= @side_effect.drug.id %>)
</p>

<p>
  <strong>Symptom:</strong>
  <%= @side_effect.symptom.name %>
  (<%= @side_effect.symptom.id %>)
</p>

<%= link_to 'Edit', edit_side_effect_path(@side_effect) %> |
<%= link_to 'Back', side_effects_path, autofocus: true %>

<script>
const autoFocusedElements = document.querySelectorAll('a[autofocus]');
if (autoFocusedElements.length) {
  autoFocusedElements[0].focus();
}
</script>
