<%= form_with(model: @sevs, local: true,
    :html => { :onsubmit => 'formsubmit();' } ) do |f| %>

<br>

<h4 style="text-align: center;">
  This text explains what's going on below
</h4>
<table border style="text-align: center; width:100%">
  <tr>
    <td>Choose Symptoms from the drop-down below and add them to the list
    </td>
    <td>Choose Meds from the drop-down below and add them to the list
    </td>
  </tr>

<!-- ------------------------------------------------- -->
<script>
  function formsubmit() {
    drug_list_select_all();
    // var sevsjson = document.getElementById('sevsjson');
    // var list = document.getElementById('drugList');
  }
  function drug_list_add(selectedItem) {
    var option = document.createElement("option");
    option.id = selectedItem.value; // setting ID so we can use namedItem
    option.value = selectedItem.value;
    option.text = selectedItem.text;

    var list = document.getElementById('drugList');
    if (list.namedItem(option.value) == null) {
      list.add(option);
    }
  }
  function drug_list_remove(selectedIndex) {
    document.getElementById("drugList").remove(selectedIndex);
  }
  function drug_list_select_all() {
    var list = document.getElementById('drugList');
    for(var i=0; i<list.options.length; i++) {
      list.options[i].selected = true;
    }
  }
</script>

  <tr>
    <td>
      <%# select_tag "symptom[id]",
          options_from_collection_for_select(Symptom.all, "id", "name"),
          :onchange => 'symptom_change_handler()'  %>
      <%= select "symptom", "id", Symptom.all.collect {|p| [ p.name, p.id ] } %>
    </td>
    <td>
      <%= select_tag "drug-select",
          options_from_collection_for_select(Drug.all, "id", "name"),
          :onchange => 'drug_change_handler()' %>
      <%= button_tag 'Add drug to list',
          type: 'button',
          :onclick => 'drug_list_add( document.getElementById("drug-select").options[document.getElementById("drug-select").selectedIndex] )' %>
    </td>
  </tr>
  <tr>
    <td>
      <!-- under symptom here .. ignore -->
    </td>
    <td>
      <%= select_tag "drugList", "",
          :size => 5, :style => "width: 150px;", multiple: true,
          :ondblclick => 'drug_list_remove(document.getElementById("drugList").selectedIndex)' %>
    </td>
  </tr>
</table>

<!-- input type="hidden" id="sevsjson"
       name="sevsjson" value="" / -->

<div style="text-align: center">
    <%= f.submit "Generate Report" %>
</div>

<% end %>


<!-- Generate the report -->
<!-- script>
var drugs=<%# raw @drugs.pluck(:id, :name) %>;
var symptoms=<%# raw @symptoms.pluck(:id, :name) %>;
var side_effects = <%# raw @side_effects.pluck(:id, :drug_id, :symptom_id) %>

function generate_report() {
  var drug_list = document.getElementById("drugList");
  var symptom_select = document.getElementById("symptom-select");
  var symptom = symptom_select.options[symptom_select.selectedIndex];
  /*
go through side effects,
if the symptom matches,
and the drug is in the drugList,
then output the drug
  */
  side_effects.forEach(function(item,index) {
    var sideEffectDrugId = item[1];
    var sideEffectSymptomId = item[2];
    if (symptom.value == sideEffectSymptomId) {
      var i;
      for(i=0; i<drug_list.length; i++) {
        var drugId = drug_list.options[i].value;
        if (drugId == sideEffectDrugId) {
          console.log('matched ' + symptom.value.toString() + " with " + drug_list.options[i].text );
        }
      }
    }
  });
}
</script -->
