<%= form_with(model: @sevs, local: true,
    :html => { :onsubmit => 'formsubmit();' } ) do |f| %>

<br>

<h4 style="text-align: center;">
  This text explains what's going on below
</h4>
<table border style="text-align: center; width:100%">
  <tr>
    <td>Choose Symptoms from the drop-down below and add them to the list
    </td>
    <td>Choose Meds from the drop-down below and add them to the list
    </td>
  </tr>

<!-- ------------------------------------------------- -->

<script>
  function loadListOptions(listName) {
    if (typeof(Storage) !== "undefined") {
      var list = document.getElementById(listName);
      list.innerHTML = window.localStorage.getItem(listName);
    }
  }
  function list_options_change(listName) {
    if (typeof(Storage) !== "undefined") {
      var list = document.getElementById(listName);
      window.localStorage.setItem(listName, list.innerHTML);
    }
  }

  function list_add_from_to(fromListName, toListName) {
    var fromList = document.getElementById(fromListName);
    var fromListItem = fromList.options[fromList.selectedIndex];
    var option = document.createElement("option");
    option.id = fromListItem.value; // setting ID so we can use namedItem
    option.value = fromListItem.value;
    option.text = fromListItem.text;
    var list = document.getElementById(toListName);
    if (list.namedItem(option.value) == null) {
      list.add(option);
    }
    // list_options_change(fromListName);
    list_options_change(toListName);
  }
  function list_remove_selected(listName) {
    var list = document.getElementById(listName);
    list.remove(list.selectedIndex);
    list_options_change(listName);
  }
  function list_select_all(listName) {
    var list = document.getElementById(listName);
    for(var i=0; i<list.options.length; i++) {
      list.options[i].selected = true;
    }
  }
  function formsubmit() {
    list_select_all("drugList");
    list_select_all("symptomList");
  }
</script>

  <tr>
    <td>
      <%= select_tag "symptom-select",
          options_from_collection_for_select(Symptom.order(:name).all,
          "id", "name") %>
      <%= button_tag 'Add symptom to list',
          type: 'button',
          :onclick => 'list_add_from_to( "symptom-select", "symptomList" )' %>
    </td>
    <td>
      <%= select_tag "drug-select",
          options_from_collection_for_select(Drug.order(:name).all,
          "id", "name") %>
      <%= button_tag 'Add drug to list',
          type: 'button',
          :onclick => 'list_add_from_to( "drug-select", "drugList" )' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= select_tag "symptomList", "",
          :size => 5, :style => "width: 150px;", multiple: true,
          :ondblclick => 'list_remove_selected("symptomList")' %>
    </td>
    <td>
      <%= select_tag "drugList", "",
          :size => 5, :style => "width: 150px;", multiple: true,
          :ondblclick => 'list_remove_selected("drugList")' %>
    </td>
  </tr>
</table>

<div style="text-align: center">
    <%= f.submit "Generate Report", autofocus: true %>
</div>

<% end %>

<%= javascript_tag 'loadListOptions("drugList")' %>
<%= javascript_tag 'loadListOptions("symptomList")' %>
