<script>
function saveReport() {
    var textToSave = '<html><head><title></title>'
      + '</head><body >'
      + document.getElementById("divPrint").innerHTML
      + '</body></html>';
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = "SEvS-report.html";
    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
}
function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}

function printReport() {
  var mywindow = window.open('', 'PRINT', 'height=400,width=600');
  mywindow.document.write('<html><head><title></title>');
  mywindow.document.write('</head><body >');
  mywindow.document.write(document.getElementById("divPrint").innerHTML);
  mywindow.document.write('</body></html>');
  mywindow.document.close();
  mywindow.focus();
  mywindow.print();
  mywindow.close();
  return true;
}

</script>
<div style="text-align:left">
  <p>
  <%= button_tag 'Back', type: 'button',
      :onclick => 'window.location.href="/sevs"', autofocus: true %>
  <%= button_tag 'Print Report',
      type: 'button',
      :onclick => 'printReport()' %>
  <%= button_tag 'Save Report',
      type: 'button',
      :onclick => 'saveReport()' %>
  </p>
  </p>
</div>

<div id="divPrint">

<div style="text-align:center">
<h1>SEvS Report</h1>
</div>

<P>
  <h3>Produced for: Bob Smith</h3>
  <h3 style="text-align:right">Production date: <%= DateTime.now.strftime("%m/%d/%Y") %> </h3>
  <h3 style="text-align:right">Production time: <%= DateTime.now.strftime("%I:%M %p") %> EST</h3>
</P>

<br>

<h3>
  <p>
    <div style="text-ident: 2.0em;">
      Input Data
    </div>
  </P>
</h3>

<h3>
  <P>
    Symptom:
  </P>
</h3>

<P>
  <div style="text-indent: 2.0em">
    <%= @symptom.name %>
  </div>
</P>

<h3>
  <P>
    Prescription List:
  </P>
</h3>
<P>
  <% @drugs.each do |d| %>
  <div style="text-indent: 2.0em"><%= d.name %></div>
  <% end %>
</P>

<br>

<h3>
  <p>
    <div style="text-ident: 2.0em;">
      Results
    </div>
  </P>
</h3>

<h3>
  <p> Drugs that have <%= @symptom.name %> as a side effect: </p>
</h3>

<P>
  <% @sideEffects.each do |s| %>
    <div style="text-indent: 2.0em">
    <%= s.drug.name %>
    </div>
  <% end %>
</P>

<% @sideEffects.each do |s| %>
<p>
<%= s.drug.name %> is a drug made by [company name] which helps with [...].
</P>
<% end %>

<h3>
  <P>
    Common side effects
  </P>
</h3>

<P>
The most common side effects given the drug list:
  <ol>
    <% @cses = @commonSideEffects.sort_by { |cse| -cse[:count] }.keep_if { |cse| cse[:count] > 1 } %>
    <% @cses.each do |cse| %>
      <li>
        <div style="text-indent: 2.0em">
        [ <%= cse[:count] %> ] : <%= cse[:side].symptom.name %>
        </div>
      </li>
    <% end %>
  </ol>
</P>

<P>
  Disclaimer:  I disclaim all things.
</P>

</div>
