<script>
function saveReport() {
    var textToSave = '<html><head><title></title>'
      + '</head><body >'
      + document.getElementById("divPrint").innerHTML
      + '</body></html>';
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = "SEvS-report.html";
    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
}
function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}

function printReport() {
  var mywindow = window.open('', 'PRINT', 'height=400,width=600');
  mywindow.document.write('<html><head><title></title>');
  mywindow.document.write('</head><body >');
  mywindow.document.write(document.getElementById("divPrint").innerHTML);
  mywindow.document.write('</body></html>');
  mywindow.document.close();
  mywindow.focus();
  mywindow.print();
  mywindow.close();
  return true;
}

</script>
<div style="text-align:left">
  <p>
  <%= button_tag 'Back', type: 'button',
      :onclick => 'window.location.href="/sevs"', autofocus: true %>
  <%= button_tag 'Print Report',
      type: 'button',
      :onclick => 'printReport()' %>
  <%= button_tag 'Save Report',
      type: 'button',
      :onclick => 'saveReport()' %>
  </p>
  </p>
</div>

<div id="divPrint">

<div style="text-align:center">
<h1 style="float:left">SEvS Report</h1>
</div>

<P>
  <BR>
  <!-- h4 style="text-align:right">Produced for: Bob Smith</h4 -->
  <h4 style="text-align:right"><%= DateTime.now.strftime("%m/%d/%Y") %> 
  <%= DateTime.now.strftime("%I:%M %p") %> EST</h4>
</P>

<h3>
  <P>
    List of Symptoms:
  </P>
</h3>

<P>
  <% @symptoms.each do |s| %>
  <div style="text-indent: 2.0em">
    <%= s.name %>
  </div>
  <% end %>
</P>

<h3>
  <P>
    Prescriptions:
  </P>
</h3>
<P>
  <% @prescription.each do |d| %>
  <div style="text-indent: 2.0em"><%= d.name %></div>
  <% end %>
</P>

<br>

<h3>
  <p>
    <div style="text-ident: 2.0em;">
      Results
    </div>
  </P>
</h3>

<h4>
  <P>
    <div style="text-indent: 10%">
      Drugs that have the listed symptoms as side effects
    </div>
  </P>
</h4>

<p>
  <% @drugsWithSymptoms.each do |d| %>
    <p>
      <B><%= d[:drug].name %></B>
      <%= if d[:drug].manufacturer then puts(" is manufactured by "); d[:drug].manufacturer.name; end %>
      <%= if d[:drug].manufacturer && d[:drug].classification then puts(" and "); end %>
      <%= if d[:drug].classification then puts(" belongs to the <I>"); d[:drug].classification.name; puts("</I> class of drugs"); end %>
      <%= if d[:drug].manufacturer || d[:drug].classification then puts("."); end %>
      The side effects include:
      <% @drugsWithSymptoms.find_all { |dws| dws[:drug].id == d[:drug].id }.
                            each do |dws| %>
        <%= dws[:symptoms].map { |s| s.name }.join(", ") %>
      <% end %>
    </p>
  <% end %>
</p>
</P>

<h4>
  <P>
    <div style="text-indent: 10%">Common side effects</div>
  </P>
</h4>

<P>
The most common side effects given the drug list:
  <ul style="list-style-type:none;">
    <% @commonSideEffects.each do |cse| %>
      <li>
        <div style="text-indent: 2.0em">
        [ <%= cse[:count] %> ] : <%= cse[:side].symptom.name %>
        </div>
      </li>
    <% end %>
  </ul>
</P>

<%= render partial: "disclaimer" %>

</div>
